/** {
  background-color: #000fff;
}
*/
/*html,
*/
body {
  height: 100%;
  font-family: "Oxygen", sans-serif;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(loops/colors.mp4) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.content {
  position: relative;
  z-index: 2
  text-align: center;
  margin: 0 auto;
  max-width: 720 px;
  margin-left: 5%;
  font-weight: 100;
  letter-spacing: 5px;
}

.content h1 {
  margin-top: 5%;
  margin-bottom: 30px;
  color: white;
  font-size: 1.5em;
}

.content li {
  display: inline;
  color: white;
  font-size: 1em;
  margin-bottom: 24px;

}

a {
  text-decoration: none;
  color: white;
  padding: 1em;
  transition: background 0.5s linear;
}

a:hover {
  background-color: #000fff;
  text-decoration: none;
}
