/** {
  background-color: #000fff;
}
*/
/*html,
*/

/*////BODY////*/

body {
  height: 100%;
  font-family: "Oxygen", sans-serif;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('loops/colors.mp4') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}


/*////CONTENT////*/

.content {
  position: relative;
  z-index: 2
  text-align: center;
  margin: 0 auto;
  max-width: 720 px;
  margin-left: 5%;
  font-weight: 100;
  letter-spacing: 5px;
}

.content h1 {
  margin-top: 5%;
  margin-bottom: 30px;
  color: white;
  font-size: 1.5em;
}

.content li {
  display: inline;
  color: white;
  font-size: 1em;
  margin-bottom: 24px;
}


/*////LINKS////*/

nav a {
  text-decoration: none;
  color: white;
  padding: 1em;
  transition: background 0.2s linear;
}

nav a:hover {
  background-color: #9d6e8d;
  text-decoration: none;
}

#name a {
  text-decoration: none;
  color: white;
  padding: 1em;
  transition: background 0.5s linear;
}

.box a {
  text-decoration: none;
  color: white;
  transition: background 0.5s linear;
}



/*////box////*/

.box {
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  padding: 20px 40px;
}

footer {
  font-size: .5em;
}


/*//// PHOTOLINKS ////*/

.musicbox h2 {
  text-align: center;
  padding: 80px 100px;
  font-size: 2em;
}
.musicImg {
  background-size: 200px 500px;
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#freind {
  background-image: url(photos/freind.jpg);
}

#soundcloud {
  background-image: url(photos/soundcloud.jpg)
}

#solo {
  background-image: url(photos/hipriestess.jpg)
}

#flickr {
  background-image: url(photos/sand.jpg)
}

#blog {
  background-image: url(photos/blog.jpg)
}
/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/*
 * CSS Page Transitions
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }
  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}
